@import ".meteor/local/build/programs/server/assets/packages/matthew_foundation5-sass/foundation"


.content
  margin-top: 1rem

// bootstrap x foundation hacks
.btn
  @include button

.af-map-search-box
  width: 20rem !important

.js-map
  margin-bottom: 1rem

.af-checkbox-group label
  display: inline-block
  float: left
  margin-right: 1rem

.af-checkbox-group::after
  display: block
  content: ""
  clear: both
