<template name='screenList'>
  <table class='table'>
    <thead><tr>
      <th>Name</th>
      <th>Location</th>
      <th>
        <a class="btn btn-default" href="{{path 'screenDetail' id='add'}}">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
      </th>
    </tr></thead>
    <tbody>
      {{#each screens}}
      <tr>
        <td><a href="/admin/screens/{{ _id }}">{{ name }}</a></td>
        <td colspan="2"><a href="/admin/screens/{{ _id }}">{{ location }}</a></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</template>
